[submodule "src/external/quadprog"]
	path = src/external/quadprog
	url = https://github.com/ddebenedittis/quadprog
[submodule "src/external/rapidyaml"]
	path = src/external/rapidyaml
	url = https://github.com/ddebenedittis/rapidyaml
[submodule "src/robot/robots/solo_description"]
	path = src/robot/robots/solo_description
	url = https://github.com/ddebenedittis/solo_description
[submodule "src/robot/robots/anymal_c_simple_description"]
	path = src/robot/robots/anymal_c_simple_description
	url = https://github.com/ddebenedittis/anymal_c_simple_description
	branch = master
[submodule "src/robot/robots/softfoot_thing"]
	path = src/robot/robots/softfoot_thing
	url = https://github.com/ddebenedittis/softfoot_thing
[submodule "src/robot/robots/anymal_c_softfoot_q_description"]
	path = src/robot/robots/anymal_c_softfoot_q_description
	url = https://github.com/ddebenedittis/anymal_c_softfoot_q_description
[submodule "src/rviz_legged"]
	path = src/rviz_legged
	url = https://github.com/ddebenedittis/rviz_legged
	branch = main
