controller_manager:
    ros__parameters:
        use_sim_time: true

        update_rate: 200

        effort_controller:
            type: effort_controllers/JointGroupEffortController
            
        joint_state_broadcaster:
            type: joint_state_broadcaster/JointStateBroadcaster

        imu_sensor_broadcaster:
            type: imu_sensor_broadcaster/IMUSensorBroadcaster

        whole_body_controller:
            type: hqp_controller/HQPController

        planner:
            type: static_walk_planner/SWPController


joint_state_broadcaster:
    ros__parameters:
        joints:
            - LF_HAA
            - LF_HFE
            - LF_KFE
            - LH_HAA
            - LH_HFE
            - LH_KFE
            - RF_HAA
            - RF_HFE
            - RF_KFE
            - RH_HAA
            - RH_HFE
            - RH_KFE
        interfaces:
            - position
            - velocity
            - effort


imu_sensor_broadcaster:
    ros__parameters:
        sensor_name: imu_sensor
        frame_id: base


whole_body_controller:
    ros__parameters:
        use_sim_time: true

        robot_name: anymal_c
        sample_time: 0.0025

        use_estimator: false        # ! Must be the same as the use_estimator in the planner
        initialization_time: 1.     # ! Must be the same as the initialization_time in the planner

        PD_proportional: 100.
        PD_derivative: 10.

        logging: true

        joints:
            - LF_HAA
            - LF_HFE
            - LF_KFE
            - LH_HAA
            - LH_HFE
            - LH_KFE
            - RF_HAA
            - RF_HFE
            - RF_KFE
            - RH_HAA
            - RH_HFE
            - RH_KFE

        contact_constraint_type: soft_kv
        tau_max: 80.
        mu: 0.8
        Fn_max: 350.
        Fn_min: 40.

        kp_b_pos:
            - 100.
            - 100.
            - 100.
        kd_b_pos:
            - 10.
            - 10.
            - 10.

        kp_b_ang:
            - 150.
            - 150.
            - 150.
        kd_b_ang:
            - 35.
            - 35.
            - 35.

        kp_s_pos:
            - 150.
            - 150.
            - 450.
        kd_s_pos:
            - 30.
            - 30.
            - 90.
            
        kp_terr:
            - 1000.
            - 1000.
            - 1000.
        kd_terr:
            - 1000.
            - 1000.
            - 1000.

        kc_v:
            - 0.
            - 0.
            - 0.


planner:
    ros__parameters:
        use_sim_time: true

        use_estimator: false            # ! Must be the same as the use_estimator in the whole_body_controller
        initialization_time: 1.         # ! Must be the same as the initialization_time in the whole_body_controller
        
        sample_time: 0.005
        init_phase: 0.2
        gait_pattern:
            - LF
            - RH
            - RF
            - LH
        cycle_duration: 3.0
        step_duty_factor: 0.7
        step_length: 0.15
        step_height: 0.1
        desired_foot_penetration: 0.05
        desired_base_height: 0.47
        initial_base_height: 0.6
        terrain_height: 0.0
        initial_position:
            - 0.
            - 0.
        leg_position: 
            - 0.4
            - 0.3
        base_oscillation: 
            - 0.06
            - 0.06